html, body, h3 {
    background: #f2f5f9 !important;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
.document-editor {
    display: flex;
    flex-direction: column;
    flex: 1;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.pdf-viewer {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 98vh;
}

.tox.tox-tinymce {
    flex: 1;
}

.font {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
}

.status-bar {
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: #5569ff;
}

.status-bar input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    text-align: right;
}

.status-bar span {
    flex: 1;
    display: flex;
    align-items: center;
}

.rr-dff-added {
    background: green;
}

#container {
    background: red
}
.pdf-viewer-component {

}


